[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
eli5 = "*"
41f562d = {path = "./PDPbox"}
ipython = "*"

[requires]
python_version = "3.7"
